<section
  id="contacto"
  class="h-screen flex flex-col mt- transition-opacity duration-1000 ease-out py-12"
>
  <div class="container mx-auto mt-28">
    <h2 class="text-4xl font-bold mb-8 text-center text-white">
      Mis Proyectos
    </h2>
    <p class="text-lg text-center text-gray-400 mb-12">
      Aquí puedes encontrar algunos de los proyectos en los que he trabajado
      recientemente. Estos proyectos muestran mis habilidades en desarrollo web.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Proyecto 1 -->
      <div
        class="project-card bg-gray-800 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300"
      >
        <h3 class="project-title text-2xl font-bold mb-2 text-white">SERDE</h3>
        <p class="project-description text-gray-400 mb-4">
          API Para la serialización y deserialización de objetos en kafka,
          usando ProtoBuffer como herramienta principal para la comunicación
          entre los distintos microservicios, fundamental para una arquitectura
          basada en event sourcing
        </p>
        <a
          href="https://github.com/jaimeGarita/serde "
          class="project-link text-blue-500 hover:text-blue-600 flex items-center"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
          </svg>
          Ver más
        </a>
      </div>

      <!-- Proyecto 2 -->
      <div
        class="project-card bg-gray-800 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300"
      >
        <h3 class="project-title text-2xl font-bold mb-2 text-white">
          Cunas que Salvan Vidas
        </h3>
        <p class="project-description text-gray-400 mb-4">
          Iniciativa de diseño y distribución de cunas innovadoras que mejoran
          la seguridad y el bienestar de los recién nacidos en zonas
          desfavorecidas.
        </p>
        <a
          href="https://gitlab.com/jaime.garita/cunas"
          class="project-link text-blue-500 hover:text-blue-600 flex items-center"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
          </svg>
          Ver más
        </a>
      </div>
            <!-- Proyecto 3 -->
            <div
            class="project-card bg-gray-800 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300"
          >
            <h3 class="project-title text-2xl font-bold mb-2 text-white">SERDE</h3>
            <p class="project-description text-gray-400 mb-4">
              API Para la serialización y deserialización de objetos en kafka,
              usando ProtoBuffer como herramienta principal para la comunicación
              entre los distintos microservicios, fundamental para una arquitectura
              basada en event sourcing
            </p>
            <a
              href="https://jaimegarita.com/blog"
              class="project-link text-blue-500 hover:text-blue-600 flex items-center"
            >
              <svg
                class="w-5 h-5 mr-2"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
              </svg>
              Ver más
            </a>
          </div>
    </div>
  </div>
</section>
