---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jaime Garitagoitia">

  <div class="w-8/12 w-6/12 mx-auto">
      <img src="/public/foto.png" class="rounded-full w-8/12 w-6/12 mx-auto w-80 p-10">
    <h1
      class="text-5xl md:text-6xl text-center shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)]"
    >
      ¡Hola! 👋, Soy Jaime Garitagoitia
    </h1>

	<div id="typed-strings" style="display: none;">
		<p>Me especializo en desarrollo <strong>Backend</strong>. 
		<p><em>Trabajo principalmente con Java, Microservicios y DDD.</em></p></p>
		
	  </div>

    <div class="text-center mt-6">
      <span id="typed"></span>
    </div>
  </div>
</Layout>

<script>
    import("typed.js").then(({ default: Typed }) => {
      let typedInstance;

      const initializeTyped = () => {
        if (typedInstance) {
          typedInstance.destroy(); // Destruye la instancia previa
        }
        if (document.querySelector("#typed")) {
          typedInstance = new Typed("#typed", {
            stringsElement: "#typed-strings",
            typeSpeed: 50,
            loop: true,
          });
        }
      };

      document.addEventListener("astro:page-load", initializeTyped);
      initializeTyped();
    });
</script>
