---
import Layout from "../layouts/Layout.astro"

title: "Arquitectura Hexagonal"
---

<Layout title="Microservicios">
    <container class="card">
      <h2 class="card-title">dsfsdfs</h2>
      <p class="card-body">fdsfdsf</p>
    </container>
  </Layout>