---
import { info } from "../data/info";
import { createLogo } from '../utils';
---

<header class="container flex items-center justify-between h-[80px] sm:h-[123px] m-auto">
    <a
        class="text-2xl dark:text-light font-semibold dark:font-semibold font-outfit"
        href="/"
        >{createLogo(info.name)}.
    </a>
    <nav>
        <ul class="flex items-center">
        </ul>
    </nav>
</header>

