---
import { posts } from "../data/posts";
import Layout from "../layouts/Layout.astro";
---
<div class="mx-auto p-1">
<p class="pb-10 text-1xl">
  Bienvenido a mi espacio digital, donde comparto mi viaje como
  desarrollador
  <strong>Backend</strong>. Aquí encontrarás una colección de mis
  proyectos y reflexiones sobre <strong>microservicios</strong>,
  <strong>arquitecturas CQRS</strong>, <strong>DDD</strong> y más.
  <br />
  Acompáñame mientras exploramos las últimas tecnologías y mejores prácticas
  en el mundo del desarrollo <i
    >(al menos bajo mi punto de vista)</i
  >. ¡Espero que disfrutes de esta aventura conmigo!
</p>



  
  {
    posts.map((post) => (
      <a
        href={`/blog/${post.slug}`}
        class="block text-white no-underline py-1 border-b border-gray-700 hover:bg-gray-700"
      >
        {post.date}: {post.title}
      </a>
    ))
  }
</div>
