---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="¡Bienvenido a mi blog sobre microservicios, Dockerfile, DDD, event sourcing y más! Explora artículos y tutoriales sobre desarrollo de software y arquitectura backend." />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Jaime Garitagoitia" />
		<ViewTransitions></ViewTransitions>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<style>
		body{
			font-family: "Carlito", sans-serif;
			min-height: 100vh;
		}
	</style>
	<body class="bg-slate-900 text-white grid gap-0">
		<Nav class="static" />
		<slot />
		<Footer />
	</body>
</html>
